* {
	padding: 0;
	margin: 0;
}
header {
	background-color: blue;
	font-size: 2em;
	font-weight: bold;
	padding: 10px;
	color: yellow;
	font-family: Verdana;
}
header input {
	float: right;
	margin: 10px;
}
main {
	display: flex;
	margin-bottom: 20px;
}
.main {
	border:dotted red;
	width: 49%;
	overflow: hidden;
}
.main img {
	width:100%;
	height: 300px;
	object-fit: contain;
}
.rechts{
	display: table;
}
.swipe {
	display: flex;
	justify-content: space-around;
}
.swipe img {
	width: 20%;	
	height: 85px;
}
#descr {
	display: table-cell;
	vertical-align: middle;
	margin-left: 20px;
	
}
.alternateProduct{
	width: 100vw;
	display: flex;
}
.alternative{
	padding:30px;
	width: 30vw;
	overflow: hidden;
}
.alternative img{
	height: 30vh;
	float:left;
}